# === GLOBAL ===
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# === NODE / REACT.JS ===
node_modules/
build/
dist/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env
.env.*.local
.vscode/

# === JAVA / SPRING BOOT ===
target/
out/
*.iml
*.class
*.jar
*.war
*.ear
*.log
.idea/
*.iws
*.ipr
*.bak
*.tmp
.settings/
.project
.classpath
.springBeans
mvnw
mvnw.cmd
/.mvn/

# === GRADLE (Android + Spring Boot) ===
.gradle/
build/
!gradle-wrapper.jar
gradle-app.setting
gradle-wrapper.properties
gradle-wrapper.jar
**/local.properties

# === ANDROID ===
*.apk
*.ap_
*.dex
*.class
*.so
*.keystore
*.jks
*.db
captures/
.cxx/
.externalNativeBuild/
.idea/
*.hprof

# Android Studio
*.iml
.idea
/.idea/*
/*.iml
.gradle
/local.properties
/.settings/
*.log

# === PYTHON / PYTORCH / ML ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.spec
*.ipynb_checkpoints/
.env
.venv/
venv/
ENV/
env/
pip-wheel-metadata/
.cache/
.mypy_cache/
.pytest_cache/
.dvc/
wandb/
checkpoints/
runs/
*.ckpt
*.pt
*.pth
*.h5
models/
logs/

# Jupyter Notebook outputs
*.nbconvert.ipynb
.ipynb_checkpoints/

# VSCode Python
.vscode/
*.code-workspace

!android/gradle/wrapper/gradle-wrapper.jar
!android/gradle/wrapper/gradle-wrapper.properties
/ml/ner_medication_model
/ml/ner_model2
/ml/ner_model3
/ml/ner_medication_model

ml/ner_medication_model3/config.json
ml/ner_medication_model3/pytorch_model.bin
ml/ner_medication_model3/special_tokens_map.json
ml/ner_medication_model3/tokenizer.json
ml/ner_medication_model3/tokenizer_config.json
ml/ner_medication_model3/training_args.bin
ml/ner_medication_model3/vocab.txt

/ml/ner_model
/ml/ner_model1
/ml/ner_model
