[Unit]
Description=MediMind ML NER Service
After=network.target

[Service]
Type=simple
User={{ app_user }}
WorkingDirectory={{ ml_dir }}
ExecStart={{ ml_dir }}/venv/bin/python app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
