@import 'tailwindcss';

html,
body,
#root {
	height: 100%;
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #282d8d;
}

body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	min-height: 100vh;
	width: 100%;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.btn-submit {
	@apply bg-sky-600 text-white rounded-lg text-sm px-5 py-2.5 font-medium w-full text-center
			hover:bg-blue-800 transition-colors duration-300 ease-in-out focus:ring-4 focus:ring-blue-300 focus:outline-none;

	cursor: pointer;
}

.btn-edit {
	@apply bg-sky-600 text-white rounded-lg text-sm px-1 py-2.5 font-bold w-full text-center
	hover:bg-blue-800 transition-colors duration-300 ease-in-out focus:ring-4 focus:ring-blue-300 focus:outline-none;

	cursor: pointer;
}

.link {
	@apply text-sm font-medium text-blue-600 hover:underline transition duration-200 ease-in-out;
}

.form-label {
	@apply block mb-2 text-sm font-medium text-gray-900;
}

.form-input {
	@apply bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5;
}

.nav-button {
	@apply flex justify-center items-center hover:bg-gray-100 px-4 py-2 rounded transition-colors text-gray-600 duration-200;
}

table {
	@apply w-full min-w-full border border-gray-300 text-sm text-left shadow-xl;
}

thead {
	@apply bg-sky-600 text-white text-center;
}

th {
	@apply px-4 py-2 border-b;
}

tbody {
	@apply divide-y divide-blue-200;
}

.tr-list {
	@apply hover:bg-gray-200 transition-colors duration-200;
	cursor: pointer;
}

td {
	@apply px-4 py-2 text-center align-middle;
}

.check {
	@apply inline-block size-7 text-red-500 text-center;
}

.log-check {
	@apply inline-block size-7 text-green-500 text-center;
}

.log-x {
	@apply inline-block size-7 text-red-500 text-center;
}

.patient-details {
	@apply flex max-w-4xl mx-auto justify-between w-full mt-10 gap-x-30;
}

.filter-btn {
	@apply inline-block size-2.5;
	cursor: pointer;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
